.noUi-connect {
    background: lightgrey;
    height: 8px;
}

.noUi-connects {
    height: 8px;
}

.noUi-tooltip {
    border: none;
    bottom: 16px !important;
    background: transparent;
}

.noUi-horizontal {
    height: 8px;
}

.noUi-handle {
    cursor: pointer;

    width: 20px !important;
    height: 20px !important;  
    border: none !important;
    background: none !important;
    outline: none !important;
}

.noUi-touch-area {
    border-radius: 50%;
    background: #44a1a0;
}

.noUi-handle:before,
.noUi-handle:after {
    display: none !important;
}