#report-toggle-container {
    position: absolute;
    top: 10px;
    left: 91px;
    background: white;
    width: 120px;
    height: 38px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
}

#report-toggle-container:hover {
    cursor: pointer;
    background: rgb(235, 235, 235);
}

#report-menu-title {
    color: #000000;
    font-size: 18px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
}

.drop-down-icon {
    max-width: 7px;
    max-height: 4px;
    position: relative;
    right: -5px;
}

#basin-info-container {
    width: fit-content;
    max-width: 414px;
    height: fit-content;
    background: white;
    display: none;
    position: absolute;
    left: 91px;
    top: 48px;
    text-align: center;
}

#basin-title-container {
    text-align: left;
    padding: 2px 2ch 2px 2ch;
    background-color: #247B7B;
    color: white;
    font-size: 1.3em;
    width: fit-content;
    margin-bottom: 15px;
    margin-top: 5px;
}

#basin-title:hover {
    cursor: pointer;
}

.basin-subtitle {
    font-size: 1.1em;
    font-weight: 600;
}

.legend-items-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
}

.piechart-legend-row {
    display: grid;
    grid-template-columns: 115px 65px 70px;
    align-items: center;
    gap: 8px;
}

.piechart-legend-row.header {
    font-weight: 550;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.piechart-legend-col {
    display: flex;
    align-items: center;
}

.piechart-legend-color {
    width: 12px;
    height: 12px;
    margin-right: 6px;
    border: 1px solid #666;
}

.label-col {
    display: flex;
    align-items: center;
}

.stats-container {
    display: flex;
    align-items: center;
    margin-top: -10px;
    padding: 10px;
}

.chart-container {
    display: flex;
    flex-direction: column;
}

.piechart {
    max-width: 120px;
    max-height: 120px;
}