#report-toggle-container {
    position: absolute;
    top: 10px;
    left: 91px;
    background: white;
    width: 120px;
    height: 38px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
}

#report-toggle-container:hover {
    cursor: pointer;
    background: rgb(235, 235, 235);
}

#report-menu-title {
    color: #000000;
    font-size: 18px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
}

.drop-down-icon {
    max-width: 7px;
    max-height: 4px;
    position: relative;
    right: -5px;
}

#basin-info-container {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    background: white;
    display: none;
    position: absolute;
    left: 91px;
    top: 48px;
}

#piechart-title-container {
    display: flex;
    flex-direction: column;
}

#piechart-container {
    display: flex;
    align-items: center;
}

.piechart-legend-color {
    width: 12px;
    height: 12px;
    margin-right: 3px;
    border: 1px solid #666;
}

.piechart-legend-item {
    display: flex;
    align-items: center;
}

#piechart-title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

#piechart-basin-id {
    font-size: 12px;
    font-weight: 600;
    color: #0D5C63;
}

#piechart-subtitle-container {
    font-size: 12px;
    font-weight: 600;
    color: #6b7280;
}

#piechart-controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#area-population-toggle {
    margin-right: 10px;
}