#search-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 38px;
}

#search-container {
    background: white;
    max-width: 50ch;
    overflow: hidden;
}

#search-icon {
    height: 30px;
    margin-left: -30px;
}

.search-result-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;    
}

.search-result-item:hover {
    background: rgb(180, 180, 180);
    cursor: pointer;
}

#search-input {
    border: none;
    height: 38px;
    text-align: center;
}

#search-results {
    list-style-type: none;
    padding: 0px;
    line-height: 1.5em;
    display: none;
}