.window-title-container {
    display: flex;
    background-color: rgb(46, 143, 46);

    padding: 5px;
}

.window-title {
    flex: 1;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.window-exit {
    flex: 0;
    color: white;
    justify-content: right;
    padding: 10px;

    font-size: 1.3rem;
    font-weight: bold;
}

.window-exit:hover {
    cursor: pointer;
}

.window-items-container {
    display: grid;
    grid-template-columns: 125px 1fr;

    justify-content: center;
    align-items: center;
}

.settings-label {
    text-align: left;
    padding: 10px;
}

.settings-input {
    text-align: center;
    padding: 10px;
}

.double-slider {
    padding: 35px 25px 25px 25px;
}

#radar-submit-btn {
    grid-column: 1 / span 2;
    justify-self: center;

    margin: 0.25rem auto 0.85rem auto;
    padding: 0.25rem 0.5rem;
    border-radius: .75rem;
    background-color: rgb(46, 143, 46);
    color: white;
    cursor: pointer;
    outline: 1px solid green;
}

#radar-submit-btn:hover {
    background-color: rgb(77, 168, 77);
}

#submit-pod-layer {
    justify-self: right;

    margin: 0.25rem auto 0.85rem 100px;
    padding: 0.25rem 0.5rem;
    border-radius: .75rem;
    background-color: rgb(46, 143, 46);
    color: white;
    cursor: pointer;
    outline: 1px solid green;
}

#submit-pod-layer:hover {
    background-color: rgb(77, 168, 77);
}

#clear-pod-layer {
    justify-self: left;

    margin: 0.25rem auto 0.85rem auto;
    padding: 0.25rem 0.5rem;
    border-radius: .75rem;
    background-color: rgb(177, 15, 15);
    color: white;
    cursor: pointer;
    outline: 1px solid green;
}

#clear-pod-layer:hover {
    background-color: rgb(255,0, 0);
}

.pop-settings-container {
  display: grid;
  grid-template-columns: 75px 250px 25px; /* label small, input expands, button auto */
  align-items: center;
  width: 100%;
}

.pop-settings-container .settings-label {
  text-align: center; /* center label text */
}

.pop-settings-container .settings-input {
  width: 160px;
  position: relative;
  left: 27px;
}

#pod-year-select {
    width: 100px;
}

.pod-color-palette {
    text-align: left;
    padding-left: 65px;
}

#update-existing-radar-container {
    display: flex;
    justify-content: center;
}

#update-existing-radar {
    margin-bottom: 10px;
    padding: 0.25rem 0.5rem;
    border-radius: .75rem;
    background-color: rgb(29, 110, 29);
    color: white;
    cursor: pointer;
    outline: 1px solid green;
}

#update-existing-radar:disabled {
    cursor: default;
    background-color: rgb(107, 153, 107);
}

#show-existing-radar {
    margin-bottom: 10px;
    padding: 0.25rem 0.5rem;
    border-radius: .75rem;
    background-color: rgb(29, 110, 29);
    color: white;
    cursor: pointer;
    outline: 1px solid green;
}

#custom-radar-show-btns-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#toggle-dynamic-radar {
    margin: 0.25rem auto 0.85rem auto;
    padding: 0.25rem 0.5rem;
    border-radius: .75rem;
    background-color: rgb(46, 143, 46);
    color: white;
    cursor: pointer;
    outline: 1px solid green;
}

#update-dynamic-radar {
    margin: 0.25rem auto 0.85rem auto;
    padding: 0.25rem 0.5rem;
    border-radius: .75rem;
    background-color: #0d6efd;
    color: white;
    cursor: pointer;
    outline: 1px solid #0d6efd;
}

#update-dynamic-radar:disabled {
    cursor: default;
    background-color: #73a6f2;
}

#delete-dynamic-radar {
    margin: 0.25rem auto 0.85rem auto;
    padding: 0.25rem 0.5rem;
    border-radius: .75rem;
    background-color: rgb(177, 15, 15);
    color: white;
    cursor: pointer;
    outline: 1px solid rgb(177, 15, 15);
}

#pod-btns-container {
    display: flex;
    justify-content: space-between;
}

#submit-pod-layer {
    margin: 0.25rem auto 0.85rem auto;
    padding: 0.25rem 0.5rem;
    border-radius: .75rem;
    background-color: rgb(46, 143, 46);
    color: white;
    cursor: pointer;
    outline: 1px solid green;
}

#clear-pod-layer {
    margin: 0.25rem auto 0.85rem auto;
    padding: 0.25rem 0.5rem;
    border-radius: .75rem;
    background-color: rgb(177, 15, 15);
    color: white;
    cursor: pointer;
    outline: 1px solid rgb(177, 15, 15);
}

#pod-opacity {
    width: 100%;
}

.year-tag-close {
    cursor: pointer;
}

.color-option {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    border: 3px solid transparent;
    transition: border-color 0.2s ease;
}

.color-option:hover {
    border-color: #ffffff;
}

.color-option.selected {
    border-color: #000000;
    border-width: 3px;
}

.edit-marker-container {
    display: flex;
}

.edit-marker-icon {
    display: inline-block;
    background-image: url(./public/icons/edit.svg);
    margin-right: 20px;
    margin-top: 8px;
    width: 24px;
    height: 24px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.35;
}

.edit-marker-icon:hover {
    cursor: pointer;
    opacity: 1.0;
}

#selected-years-display {
    color: grey;
}

#clear-pop-layer {
    background-image: url(./public/icons/reset.svg);
    width: 24px;
    height: 24px;
    background-size: 20px;
    background-position: center;
    opacity: 0.35;

    position: relative;
    top: 8px;
    left: -15px;
}

#clear-pop-layer:hover {
    cursor: pointer;
    opacity: 1.0;
}

#population-layer-controls-container {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 31px;
    height: 32px;
    width: 65px;
    bottom: 11px;
}