#terrainProfileCanvasContainer {
    position: absolute;
    bottom: 10%;
    left: 10%;
    background-color: white;
    z-index: 1;
    height: fit-content;
    width: fit-content;
}

#profileWindowExit {
    display: block;
    justify-self: right;
    font-size: 1.5rem;
    padding: 2px 5px 0 0;
    cursor: pointer;
}

#toggle-terrain-profile-container {
    display: flex;
    align-items: center;
    gap: 5px;
    background: white;
    border-radius: 15px;
    padding: 5px;
    border: 0.5px solid #ccc;
}